@use '../utils/_colors' as colors
@use '../../sass/base/_typography' as typo
@use '../utils/_mixins' as mix

.card-fonction
  display: flex
  color: colors.$Black-color
  align-items: center
  width: 320px
  height: 80px
  border-radius: 20px
  background-color: darken(colors.$White-color, 3%)
  gap: 25px
  font-size: typo.$text
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
  cursor: pointer
  transition: 0.3s

  &:hover
    @include mix.card-hover()

  > .round
    @include mix.flex-mid()
    position: relative
    padding-top: 2px
    right: 10px
    width: 25px
    height: 25px
    border-radius: 50%
    background-color: colors.$Primary-color
    color: colors.$White-color

  i
    @include mix.flex-mid()
    width: 25px
    height: 25px
    font-size: typo.$title
    color: darken(colors.$White-color, 50%)

  .selected
    color: colors.$Primary-color

/***********/


.card-restaurant
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 90%
  height: 251px
  border-radius: 15px
  background: #fff
  overflow: hidden
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
  cursor: pointer
  transition: 0.3s

  &:hover
    @include mix.card-hover()

  img
    width: 100%
    height: 70%
    object-fit: cover

  .new
    @include mix.flex-mid()
    position: relative
    bottom: 170px
    left: 20px
    width: 130px
    height: 30px
    border-radius: 3px
    background-color: colors.$Tertiary-color
    color: colors.$Green-font-color
    font-size: typo.$subtitle
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)

.card-body
  display: flex
  padding: 10px

.card-txt
  display: flex
  width: 100%
  flex-direction: column
  gap: 10px

  h2
    font-size: typo.$subtitle
    font-weight: bold

  p
    font-size: typo.$text


.card-heart
  @include mix.flex-mid()
  position: relative
  top: 5px
  right: 20px
  font-size: 25px

#solid-heart
  display: none

.checkbox
  @include mix.flex-mid()
  background-color: colors.$Tertiary-color
  width: 0
  opacity: 0
  border-radius: 0 1rem 1rem 0
  transform-origin: left
  transition: 0.4s
  overflow: hidden

.menu-card-block
  opacity: 0
  animation: translate 0.5s ease forwards
  display: flex
  flex-direction: row
  border-radius: 15px
  background-color: colors.$White-color
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.10)
  transition: 0.4s

  &:hover
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20)

.box
  .fa-circle-check
    font-size: 2rem
    color: colors.$White-color

.menu-card-block:hover .checkbox
  opacity: 1
  width: 120px
  @media screen and (max-width: 1024px)
    width: 170px

.menu-txt
  width: 100%
  padding: 12px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


  h2
    font-size: typo.$title
    font-weight: bold
    padding-bottom: 15px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  p
    font-size: 21px
    font-weight: lighter
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis


.menu-card-block-price
  @include mix.flex-mid()
  justify-content: space-between
  font-weight: bold

  p
    font-size: typo.$text
    font-weight: bold
    padding: 40px 10px 0 0

.card-link
  color: inherit
  width: 100%
  height: 100%

@media screen and (min-width: 1024px)
  .menu-car.checkbox
    width: 20%

  .restaurants
    display: flex
    flex-wrap: wrap

  .restaurants_container
    padding: 20px
    display: flex
    flex-wrap: wrap
    gap: 50px
    flex-direction: row

  .card-restaurant
    width: 400px
    height: 250px

  .card-heart
    font-size: 30px

