@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.btn, .btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  transition: background-color 0.5s ease-in-out;
}
.btn::before, .btn-menu::before {
  content: "";
  border-radius: 25px;
  position: absolute;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: 0.5s;
}
.btn:hover::before, .btn-menu:hover::before {
  height: 100%;
  opacity: 20%;
  border-radius: 25px;
}
.btn:hover, .btn-menu:hover {
  background-color: #3498db;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
}

.title-page {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.title-page i {
  display: none;
}
.title-page img {
  display: flex;
  width: 200px;
  height: 35px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: #FFFFFF;
}
.menu-page i {
  color: #000000;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 30px;
  font-weight: bold;
}
.menu-page img {
  display: flex;
  width: 200px;
  height: 35px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

main {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

/* -----------localisation---------- */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #cccccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.localisation_form {
  display: flex;
  align-items: center;
  gap: 17px;
}
.localisation_form .form_input {
  border: none;
  background-color: transparent;
  outline-style: none;
  font-size: 16px;
  transition: 0.3s;
}
.localisation_form .form_input:focus {
  background-color: #d9d9d9;
  padding: 5px 6px;
  border-radius: 20px;
}
.localisation_form ::placeholder {
  font-size: 16px;
  color: #000000;
}

/* -----------réservation---------- */
.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
  text-align: center;
}
.reservation > h1 {
  font-size: 24px;
  font-weight: bold;
  width: 80%;
}
.reservation > p {
  font-size: 16px;
  font-weight: 300;
  width: 90%;
}

.fonctionnement {
  font-weight: bold;
  background-color: #FFFFFF;
  padding-bottom: 90px;
}
.fonctionnement h1 {
  font-size: 24px;
  padding: 50px 0 30px 50px;
}
.fonctionnement ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fonctionnement_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.fonctionnement_container > ol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

/* -----------restaurant---------- */
.restaurants {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants h1 {
  padding: 0 0 30px 50px;
  font-size: 24px;
  font-weight: bold;
}

.restaurants_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.fonctionnement ol {
  width: 100%;
}

.restaurants-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.fonctionnement_container {
  flex-direction: row;
}

main {
  font-family: Roboto, sans-serif;
  background-color: #FFFFFF;
}

.bc-image-menu {
  height: 270px;
}
.bc-image-menu img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 13px 40px 13px;
  border-radius: 40px 40px 0 0;
  background-color: #f2f2f2;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  padding: 35px 0 30px 0;
}
.menu-title h1 {
  position: relative;
  top: 4px;
}

.menu-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  text-transform: uppercase;
}
.menu-subtitle p {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

.sub-t {
  width: 45px;
}

.entree, .plats, .desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {
  .menu {
    margin: 0 100px 0 100px;
    padding: 0 200px 40px 200px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  transition: 0.3s;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  transition: 0.3s;
}

.card-fonction {
  display: flex;
  color: #000000;
  align-items: center;
  width: 320px;
  height: 80px;
  border-radius: 20px;
  background-color: #f7f7f7;
  gap: 25px;
  font-size: 16px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}
.card-fonction:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.31);
}
.card-fonction > .round {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
}
.card-fonction i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 24px;
  color: gray;
}
.card-fonction .selected {
  color: #9356DC;
}

/***********/
.card-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  height: 251px;
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}
.card-restaurant:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.31);
}
.card-restaurant img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.card-restaurant .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 170px;
  left: 20px;
  width: 130px;
  height: 30px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.card-body {
  display: flex;
  padding: 10px;
}

.card-txt {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.card-txt h2 {
  font-size: 18px;
  font-weight: bold;
}
.card-txt p {
  font-size: 16px;
}

.card-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  right: 20px;
  font-size: 25px;
}

#solid-heart {
  display: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 0;
  opacity: 0;
  border-radius: 0 1rem 1rem 0;
  transform-origin: left;
  transition: 0.4s;
}

.menu-card-block {
  opacity: 0;
  animation: translate 0.5s ease forwards;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.menu-card-block:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.menu-card-block:hover .checkbox {
  opacity: 1;
  width: 100px;
}
@media screen and (max-width: 1024px) {
  .menu-card-block:hover .checkbox {
    width: 170px;
  }
}

.menu-txt {
  width: 900px;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-txt h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-txt p {
  font-size: 21px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card-block-price {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.menu-card-block-price p {
  font-size: 16px;
  font-weight: bold;
  padding: 40px 10px 0 0;
}

.card-link {
  color: inherit;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants_container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: row;
  }
  .card-restaurant {
    width: 400px;
    height: 250px;
  }
  .card-heart {
    font-size: 30px;
  }
}
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: forwards 2s ease-in-out 1s fadeOut;
}

.loader {
  position: relative;
  border-top: 10px solid #9356DC;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #9356DC;
  border-left: 10px solid transparent;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 3s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.loader-reverse {
  position: absolute;
  border-top: 10px solid #FF79DA;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes translate {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
  }
}
#anim1 {
  animation-delay: 0.3s;
}

#anim2 {
  animation-delay: 0.6s;
}

#anim3 {
  animation-delay: 0.9s;
}

#anim4 {
  animation-delay: 1.2s;
}

#anim5 {
  animation-delay: 1.5s;
}

#anim6 {
  animation-delay: 1.8s;
}

#anim7 {
  animation-delay: 2.1s;
}

#anim8 {
  animation-delay: 2.4s;
}

#anim9 {
  animation-delay: 2.7s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.8%;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.card-heart {
  position: relative;
  display: flex;
  right: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.card-heart i {
  font-size: 30px;
  color: #d9d9d9;
  border: 1px;
  transition: transform 0.2s;
}

#heart-checkbox1 {
  position: relative;
  opacity: 0;
}

#heart-checkbox2 {
  position: relative;
  opacity: 0;
}

#heart-checkbox1:checked + .card-heart i,
#heart-checkbox2:checked + .card-heart i,
#heart-checkbox3:checked + .card-heart i,
#heart-checkbox4:checked + .card-heart i {
  color: #9356DC;
  animation: beat 0.5s ease-in-out;
}

footer {
  display: flex;
  padding: 22px 25px;
  background-color: #363636;
}
footer img {
  height: 18px;
  object-fit: cover;
  filter: invert(100%);
}

.footer_container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.footer_links {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer_links .fas {
  width: 15px;
  color: #FFFFFF;
  margin-right: 10px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (min-width: 1024px) {
  footer {
    justify-content: flex-end;
  }
  .footer_container {
    flex-direction: row-reverse;
    gap: 50px;
  }
  .footer_links {
    gap: 30px;
    flex-direction: row;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e6e6e6;
}

/*# sourceMappingURL=main.css.map */
