@use '../utils/_colors' as color

@keyframes beat
  0%, 100%
    transform: scale(1)
  50%
    transform: scale(1.2)

@keyframes translate
  0%
    opacity: 0
    transform: translateX(100px)

  100%
    opacity: 1

#anim1
  animation-delay: 0.3s

#anim2
  animation-delay: 0.6s

#anim3
  animation-delay: 0.9s

#anim4
  animation-delay: 1.2s

#anim5
  animation-delay: 1.5s

#anim6
  animation-delay: 1.8s

#anim7
  animation-delay: 2.1s

#anim8
  animation-delay: 2.4s

#anim9
  animation-delay: 2.7s

