@use '../utils/_colors' as color
@use '../../sass/base/_typography' as typo

@mixin flex-mid
  display: flex
  justify-content: center
  align-items: center

@mixin button
  background: color.$btn-color
  color: color.$White-color
  width: 220px
  height: 50px
  font-size: 16px
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35)
  cursor: pointer
  border-radius: 25px
  border: none
  transition: background-color 0.3s

.btn:hover, .btn-menu:hover
  transform: scale(1.03)
  background: color.$btn-color-hover

@mixin card-hover
  transform: scale(1.03)
  box-shadow: 0 4px 15px 0 rgba(131, 64, 212, 0.31)