.title-page
    height: 65px
    @include flexmid
    background-color:$White-color
    i
        position: absolute
        left: 8%
        top: 17px
        font-size: 30px
        font-weight: bold
    img
        display: flex
        width: 200px
        height: 35px
        justify-content: center
        align-items: center
        flex-shrink: 0
