@use '../utils/_colors' as color
@use '../../sass/utils/_mixins' as mix

.title-page
  height: 65px
  @include mix.flex-mid()
  background-color: color.$White-color

  i
    display: none

  img
    display: flex
    width: 200px
    height: 35px
    justify-content: center
    align-items: center
    flex-shrink: 0


.menu-page
  @include mix.flex-mid()
  height: 65px
  background-color: color.$White-color

  i
    color: color.$Black-color
    position: absolute
    left: 20px
    top: 15px
    font-size: 30px
    font-weight: bold

  img
    display: flex
    width: 200px
    height: 35px
    justify-content: center
    align-items: center
    flex-shrink: 0